
android/*.iml
android/build
android/.idea/
.DS_Store
.idea/
react-native-android.md
ios/RNNeteaseIm/RNNeteaseIm.xcodeproj/project.xcworkspace/xcuserdata
ios/RNNeteaseIm/RNNeteaseIm.xcodeproj/xcuserdata/
